/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header {
  position: fixed;
  background-color: white;
  width: 100%;
  display: inline-block;
  -webkit-box-shadow: 18px 2px 18px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 18px 2px 18px -6px rgba(0,0,0,0.75);
  box-shadow: 18px 2px 18px -6px rgba(0,0,0,0.75);
}

.header div,
.header ul {
  display: inline-block;
}
.header-logo,
.header-menu {
  display: inline;
}
.header-logo__img {
  width: 50px;
  height: 40px;
}
.header-menu {
  float: right;
  margin: 10px;
}
.header-menu li {
  display: inline;
  font-size: 18px;
  margin: 20px;
}
.header-logo__title {
  display: inherit;
  position: absolute;
  margin-top: 10px;
}
.header-menu li a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}
.header-menu li a:hover {
  color: rebeccapurple;
}
body {
  font-family: Arial;
  font-size: 18px;
}

.banner {
  background-image: url('./assets/banner.jpg');
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 260px;
  text-align: center;
}

.banner {
  color: white;
  
}

.banner-subtitle {
  text-transform: uppercase;
  font-weight: bold;
}

.banner-heading, .banner-subtitle {
  padding: 10px;
}

.banner-buttom {
  font-weight: bold;
  border: 0;
  padding: 10px;
  border-radius: 20px;
  text-transform: uppercase;
}

.banner-buttom:hover {
  color: white;
  background-color: #5f4a90;
  font-weight: bold;
  transition: 0.5s;
}

/* estilização dos cards */

.container {
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  width: 90%;
  height: 70%;
  justify-content: space-around;

}

.card {
  display: flex;
  margin: auto 0;
  width: 30%;
  height: 200px;

  justify-content: center;
  /* background-repeat: no-repeat; */
}

.card:nth-child(1){
  background-image: url('./assets/product-1.jpg');
  background-size: cover;
}
.card:nth-child(2){
  background-image: url('./assets/product-2.jpg');
  background-size: cover;
}
.card:nth-child(3){
  background-image: url('./assets/product-3.jpg');
  background-size: cover;
}
.card:nth-child(4){
  background-image: url('./assets/product-4.jpg');
  background-size: cover;
}
.card:nth-child(5){
  background-image: url('./assets/product-5.jpg');
  background-size: cover;
}
.card:nth-child(6){
  background-image: url('./assets/product-6.jpg');
  background-size: cover;
}


.card button {
  height: 15%;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: 3%;
}

